body {
    font-family: Arial, sans-serif;
    margin: 0;
    background: linear-gradient(135deg, #2b0000, #660000);
    color: #ffffe0; 
}

.container {
    width: 90%;
    margin: 30px auto;
    background: #1a0000;
    padding: 20px;
    border-radius: 15px;
    box-shadow: 0 0 20px rgba(255,0,0,0.5);
}

header {
    text-align: center;
    padding: 20px;
    background: #990000;
    border-radius: 10px;
}

h1 { 
    color: #ffff00; 
}

section {
    margin-top: 20px;
    padding: 15px;
    background: #330000;
    border-left: 6px solid red;
    border-radius: 10px;
}

h2 { 
    color: #ff4d4d;
}

img {
    width: 140px;
    border-radius: 50%; 
    border: 3px solid red;
    display: block;
    margin: 15px auto;
}

.buttons { text-align: center; margin: 20px 0; }
button {
    padding: 10px 20px;
    cursor: pointer;
    background: #990000;
    color: #ffffe0;
    border: 1px solid #ff4d4d;
    border-radius: 10px;
}
footer { text-align: center; padding: 20px; opacity: 0.7; }
